.cuadrado-padre{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.item{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#uno{
    background-color: red;
}

#dos{
    background-color: blue;
}

#tres{
    background-color: green;
}